<div class="gridster">
  <ul>
    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> -->
      <a href="/quality">Overall</a>
    <!-- </li> -->
    <br />
    <!-- <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"> -->
      <a href="/reading_list">Reading List</a>
    <!-- </li> -->
  </ul>
</div>
