<% content_for :title do %>Quality KPIs<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="deploy_cycle" data-view="Number" data-title="Avg Production Deploy Cycle" data-moreinfo="In Days - All Projects - Q1" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="deploy_cycle_stage" data-view="Number" data-title="Avg Staging Deploy Cycle" data-moreinfo="In Days - All Projects - Q1" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bug_cycle" data-view="Number" data-title="Avg Bug Cycle" data-moreinfo="In Days - All Projects - Q1" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="defects_qtr" data-view="Number" data-title="Defects" data-moreinfo="Total - All Projects - Q1" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="epm" data-view="Number" data-title="Errors Per Million Users (EPM)" data-moreinfo="Total - All Projects" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpm" data-view="Number" data-title="Crashes Per Million Users (CPM)" data-moreinfo="Total - All Projects" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uptime" data-view="Meter" data-title="Avg Uptime" data-moreinfo="Percent - All Projects - YTD" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="coverage" data-view="Meter" data-title="e2e Coverage" data-moreinfo="Percent - All Projects - YTD" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

  </ul>
</div>
