<div class="gridster">
  <div>Metrics and KPIs for Reading List Project</div>
  <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="rl_burndown" data-view="Number" data-title="Overall Bug Burndown" data-moreinfo="Percent of P1 and P2 Bugs Completed" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="rl_ux_burndown" data-view="Number" data-title="UX Polish Burndown" data-moreinfo="Percent of UX Polish Bugs Completed" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="rl_syncing_time" data-view="Number" data-title="Seconds to Sync" data-moreinfo="Avg Seconds for Sync Between Devices"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rl_availability" data-view="Meter" data-title="Availability" data-moreinfo="Percent - YTD" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rl_downtime" data-view="Number" data-title="Downtime" data-moreinfo="Hours - YTD" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rl_coverage" data-view="Meter" data-title="e2e and Test Coverage" data-moreinfo="Percent" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rl_readability_topsites" data-view="Meter" data-title="Readability of Top 50 Sites" data-moreinfo="Percent of Top 50 Sites that are readable" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

  </ul>
</div>
